.nav-button-container {
  position: relative;
  user-select: none; /* Remove highlight */
}

.nav-button {
  width: 80px; /* For circular button, change width/height to 40x40 px */
  height: 40px;
  background: #e41235bb;
  /* border-radius: 50%; */
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 200ms;
}

.nav-button:hover {
  background: #e41235;
}

.button-active {
  background: #e41235;
}

/* --------- STYLE DROP DOWN MENU --------- */

.dropdown-menu {
  position: absolute; /* Position div relative to .modal-button  */
  top: 54px;
  right: 0;
  width: 420px;
  height: auto;
  display: flex;
  flex-direction: column;
  background: #2f2953; /* Keep same background color as navbar */
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border: 2px solid #4b3b64;
  border-top: none;
}

.character {
  display: flex;
  align-items: center;
  transition: 300ms;
  padding-left: 15px;
}

.character:hover {
  transform: scale(1.1);
}

.character-img {
  height: 120px;
  margin: 25px;
}

/* Vertically align DIO and Spike's images relative to Ed */
.dio-img {
  padding: 0 7px 0 15px;
}

.spike-img {
  padding: 0 7px 0 23px;
}

.character-info {
  margin-left: 20px;
  padding-bottom: 40px;
  /* font-family: 'Libre Baskerville', serif; */
  font-family: 'Days One', serif;
}

.character-name {
  font-size: 1.15rem;
  margin: 15px 0 12px 0;
}

.character-info p {
  line-height: 24px;
}

.character-status {
  font-size: 12px;
  color: #ff3e3e;
}

.found {
  color: #31e031;
}

/* ----- MOBILE PORTRAIT VIEW -----  */

@media (max-width: 500px) {
  .navbar {
    font-size: 9px;
  }

  .nav-button {
    width: 60px;
    height: 30px;
    font-size: 11px;
  }

  /* Modal is centered in the middle of the screen, below the navbar */
  .dropdown-menu {
    position: fixed;
    top: 70px;
    right: 10vw;
    width: 80vw;
    height: 300px;
    overflow: auto;
  }

  .character {
    padding: 0px;
  }

  .character:hover {
    transform: none;
  }

  .character-img {
    height: 95px;
    margin: 20px 0 20px 20px;
  }

  .character-info p {
    font-size: 10px;
  }
}

/* ----- MOBILE LANDSCAPE VIEW -----  */

@media (max-height: 500px) {
  .dropdown-menu {
    position: fixed;
    top: 70px;
    right: 10vw;
    width: 80vw;
    height: 300px;
    overflow: auto;
  }

  .character {
    margin-left: 30px;
  }

  .character:hover {
    transform: none;
  }

  .character-name {
    font-size: 22px;
  }

  .character-info p {
    font-size: 14px;
  }
}