* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  overflow-x: hidden;
}

.App {
  overflow: hidden;
  width: 100vw;
  height: auto;
  overflow: hidden;
  position: relative;
}